<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    {%  with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li> {{messgae}} </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('auth.register' )}}">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"></input><br> <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"></input> <br><br><br>
        <button type="submit"> Submit</button>

    </form>
        <a href='home'><button>Back home</button></a>



    </form>


</body>
</html>